<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/books">Book App</a>
    <div class="navbar-nav ms-auto">
      @if (isLoggedIn()) {
        <a class="nav-link" routerLink="/books">Books</a>
        <a class="nav-link" routerLink="/quotes">Quotes</a>
        <button class="btn btn-outline-light btn-sm ms-2" (click)="logout()">Logout</button>
      } @else {
        <a class="nav-link" routerLink="/login">Login</a>
        <a class="nav-link" routerLink="/register">Register</a>
      }
    </div>
  </div>
</nav>